# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
#create import file path
inputFile = "../WeatherPy/Output/cities.csv"

#load dataframe
weatherCitiesDF = pd.read_csv(inputFile)

#create output file
outputPath="../Output/"
# outputCsv= outputPath+"cities.csv"

weatherCitiesDF.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.6000,168.3333,42.01,94,10000,5.01,NZ,1619267164
1,Puerto Ayora,-0.7393,-90.3518,75.99,95,10000,5.99,EC,1619267165
2,Carnarvon,-24.8667,113.6333,73.40,78,10000,8.05,AU,1619267165
3,Kavaratti,10.5669,72.6420,85.44,67,10000,7.47,IN,1619267165
4,Pangnirtung,66.1451,-65.7125,32.49,83,10000,3.44,CA,1619267166

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,1.350000e+02
mean,1.026361,1.771334,75.892815,72.229630,9590.392593,6.950370,1.619267e+09
std,20.929420,95.174393,2.687916,22.281423,1426.696660,4.908114,6.630166e+01
min,-34.418700,-175.200000,70.000000,2.000000,1609.000000,0.400000,1.619267e+09
25%,-18.109600,-68.798650,73.510000,60.000000,10000.000000,2.990000,1.619267e+09
50%,-0.900000,-15.446100,76.370000,78.000000,10000.000000,5.750000,1.619267e+09
75%,20.455800,97.309650,78.460000,89.000000,10000.000000,10.010000,1.619267e+09
max,46.616600,169.266700,79.740000,100.000000,10000.000000,25.320000,1.619267e+09

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
niceWeatherDF = weatherCitiesDF.loc[(weatherCitiesDF["Max Temp"].between(70,80))
                                    & (weatherCitiesDF["Wind Speed"] < 10.00)
                                    & (weatherCitiesDF["Cloudiness"] < 10000) 
                                   ]
niceWeatherDF.dropna()
niceWeatherDF.describe() #sanity check

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000e+01
mean,7.458100,-47.269020,76.204000,93.900000,5992.600000,5.225000,1.619267e+09
std,13.611071,57.326551,2.289261,6.999206,2819.177863,2.306326,9.698087e+01
min,-7.259700,-99.890100,72.000000,78.000000,1609.000000,2.300000,1.619267e+09
25%,-4.460800,-86.095875,74.742500,91.000000,4000.000000,3.732500,1.619267e+09
50%,5.296250,-53.055000,77.000000,94.000000,6000.000000,4.610000,1.619267e+09
75%,14.589275,-34.925150,77.037500,100.000000,8035.250000,5.727500,1.619267e+09
max,29.595800,98.490800,78.800000,100.000000,9656.000000,9.980000,1.619267e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure